<%= form_for @setting do |form| %>
    <div>
      <%= form.label :name %><%= form.text_field :name %>
      <br>
      <%= form.label :value %><%= form.text_field :value %>
    </div>
    <%= form.submit 'Update Setting' %>
<% end %>
